{
    "host": "127.0.0.1",
    "port": 5000,
    "debug_mode": false,
    "icat_auth_url": "https://icat-dev.isis.stfc.ac.uk/icat/session",
    "log_level": "DEBUG",
    "access_token_valid_for": 30,
    "refresh_token_valid_for": 10080,
    "blacklist": [],
}